@use "../abstract/variable" as v;
@use "../abstract/function" as f;

.btn{
    padding:0.8rem 1.4rem;
    border-radius:0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    border:none;
    outline: none;
    &-primary{
        background-color: rgb(48, 207, 157);
        color: #fff;
        &:hover{
            background-color: f.theme-colors("primary-hover");
        }
    }
}